extends base.pug
block content
  h1 Hotels

  a(href="/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add Hotel

  each hotel in hotels
    .media
      a(href=`/${hotel.id}`)
        .media-body
          h4= hotel.name

  if !hotels.length
    h2 No hotels found.

  if nextPageToken
    nav
      ul.pager
        li
