extends base.pug
block content
  h3 Search Reservations for #{hotel}
  form(method="POST")
    .form-group
      label(for="first") First Name
      input.form-control(type="text", name="first", id="first", value=reservation.first, required)
    .form-group
      label(for="last") Last Name
      input.form-control(type="text", name="last", id="last", value=reservation.last, required)
    .form-group
    button.btn.btn-success(type="submit") Save