extends base.pug
block content
  h3 Your Reservations

  ul
    each reservation in reservations
      .media
        .media-body
          li= reservation.hotelName + " from " + reservation.start + " to " + reservation.end + " Room: " + reservation.room

  if !reservations.length
    h2 No were reservations found.